@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>后台管理</title>
    <link href="~/lib/Manage/css/basic.css" rel="stylesheet" type="text/css">
    <link href="~/lib/Manage/css/style.css" rel="stylesheet" type="text/css">
    <!--[if IE]><script src="~/lib/Manage/Scripts/html5.js"></script><![endif]-->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</head>

<body class="bluebg">
    <form action="" method="post" class="login">
        <div class="login_l">
            <div class="login_tip"></div>
            <div class="clearfix">

                @*<label for="username">用户名</label>*@
                @*<input id="username" name="username" class="login_txt">*@

                @* 强类型视图中 使用 asp-for 绑定表单字段 这样的话在Login的Action中就需要用实体类来接收 *@
                <label asp-for="USERNAME">用户名</label>
                <input asp-for="USERNAME" class="login_txt" />
                <span asp-validation-for="USERNAME" class="text-danger"></span>
            </div>
            <div class="clearfix">
                <label asp-for="PASSWORD">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
                <input asp-for="PASSWORD" class="login_txt" type="password" />
                <span asp-validation-for="PASSWORD" class="text-danger"></span>
            </div>
            <div class="clearfix">
                <label asp-for="VERIFICATION">验证码</label>
                <input asp-for="VERIFICATION" class="login_txt_short" />
                <img src="~/api/GetValidateCode" class="login_verificate" onclick="this.src = '/api/GetValidateCode?t=' + Math.random();">
                <span asp-validation-for="VERIFICATION" class="text-danger"></span>
            </div>
        </div>
        <div class="login_r">
            <div class="clearfix">
                <input type="checkbox" checked="checked" class="floatleft checkbox mt3">
                <span class="floatleft ml4 white f14">记住我</span>
            </div>
            <input type="submit" value="登 录" class="login_btn">
            <input type="reset" value="重 置" class="login_btn">
        </div>
    </form>
</body>
</html>


