@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>XXX有限公司</title>
    <meta name="keywords" content="XXX">
    <meta name="description" content="XXX">
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/index.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />

    <script src="~/js/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
    <!--ie9以下调用-->
    <!--[if lt IE 9]>
    <script src="~/style/js/html5.js" type="text/javascript"></script>
    <script src="~/style/js/PIE.js"  type="text/javascript"></script>
    <![endif]-->

</head>

<body>
    @Html.Partial("_Top")
    @RenderBody()
    @Html.Partial("_Foot")
    
    @RenderSection("Scripts", required: false)
</body>
</html>
